@import url(../estilos/commons.css);

body {
  margin: 0 0 auto 0;
}

header {
  background-color: aqua;
  display: flex;
  
  border: 1px solid black;
}
ul li {
  display: inline-block;
  margin: auto 60px auto 60px;
  font-family: "Roboto";
  font-weight: 700;
}
ul li a {
  color: var(--color-rojo);
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  flex: 1; /* Ocupa todo el espacio disponible */
  background-color: #ffffff;
}
